<div id="<%= dom_id book_page %>">
  <p>
    <strong>Body:</strong>
    <pre>
    <%= highlight(book_page.body, params[:query]) %>
    </pre>
    <br>
    <strong>Page:</strong> <%= book_page.page %>
  </p>

</div>
