<h1>Editing book page</h1>

<%= render "form", book_page: @book_page %>

<br>

<div>
  <%= link_to "Show this book page", @book_page %> |
  <%= link_to "Back to book pages", book_pages_path %>
</div>
